<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>frm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>FrameDocument</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sFrD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dcs.Plane-Frame-Data</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FrameDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fres</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FrameIcon</string>
			<key>CFBundleTypeName</key>
			<string>FrameResults</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sFrR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FrameDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Frame-Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Frame-Help</string>
	<key>CFBundleIdentifier</key>
	<string>dcs.Plane-Frame</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>v 1.0</string>
	<key>CFBundleSignature</key>
	<string>sFrm</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FrameDocument</string>
			<key>UTTypeIconFile</key>
			<string>DocIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>dcs.Plane-Frame-Data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>sFrD</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>frm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
